
<div class="search-box">
  <%= render "shared/twitter_search" %>

  <%= render "shared/vimeo_search" %>
</div>

<h1>Welcome <%= @user.name %></h1>


<% @posts.each do |post| %>
  <h3><%= post.feed.handle %></h3>
  <p><%= post.media_url %></p>
  <p><%= post.feed.provider %></p>
  <p><%= post.text_content %></p>
  <p><%= post.date %></p>
<% end %>

  <% @providers.each do |provider| %>
    <p><%= provider.titleize %></p>
  <% end %>


<!-- This is a start for adding other accounts to your account... -->
<div class="add-providers">
  <p>Connect your other social media accounts:</p>

  <% @new_providers.each do |p| %>
    <p><%= p.titleize %></p>
  <% end %>
</div>
