
<div class="search-box">
  <%= render "shared/twitter_search" %>
</div>
<div class = "search-box">
  <%= render "shared/vimeo_search" %>
</div>

<h1>Welcome <%= @user.name.titleize %>!</h1>

<p>
  You are connected through:
  <% @providers.each do |provider| %>
    <%= provider.titleize %>
  <% end %>
</p>

<!-- This is a start for adding other accounts to your account... -->
<div class="add-providers">
  <p>
    Connect your other social media accounts:

    <% @new_providers.each do |p| %>
      <%= p.titleize %>
    <% end %>
  </p>
</div>

<%= button_to "Refresh My Feeds", feeds_path, class: "btn btn-default", method: :patch %>

<table class = "table table-hover text-left">

  <% @posts.each do |post| %>
    <tr class= "post-wrapper"  >
      <% if post.feed.provider == "Twitter" %>
        <%= render "feeds/twitter_post", object: post %>
      <% elsif post.feed.provider == "Vimeo" %>
        <%= render "feeds/vimeo_post", object: post %>
      <% end %>
    </tr>
  <% end %>

</table>
