
<div class="search-box">
  <%= render "shared/twitter_search" %>

  <%= render "shared/vimeo_search" %>
</div>

<h1>Welcome <%= @user.name %></h1>

<p>
  You are logged on to Lavender Blush through your
  <%= @credentials.provider.capitalize %> account.
</p>

<p>Your email is <%= @user.email %> and your uid us <%= @credentials.uid %>.</p>

<% @posts.each do |post| %>
  <h3><%= post.feed.handle %></h3>
  <p><%= post.media_url %></p>
  <p><%= post.feed.provider %></p>
  <p><%= post.text_content %></p>
  <p><%= post.date %></p>
<% end %>
