<h1>Welcome <%= @user.name.titleize %>!</h1>

<div class="suggestions">
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
</div>

<% if @user.posts.any? %>

  <div class="feed-buttons">
    <%= button_to "Refresh My Feeds", feeds_path, class: "btn btn-default", method: :patch %>
    <%= render "shared/bulk_happy" %>
  </div>

  <table class = "table table-hover text-left">
    <% @posts.each do |post| %>
      <tr class= "post-wrapper"  >
        <% if post.feed.provider == "Twitter" %>
          <%= render "feeds/twitter_post", object: post %>
        <% elsif post.feed.provider == "Vimeo" %>
          <%= render "feeds/vimeo_post", object: post %>
        <% end %>
      </tr>
    <% end %>
  </table>

<% else %>
  <%= render "shared/bulk_happy" %>
<% end %>
