<% @tweets.each do |tweet|  %>

<ul>
  <li>id = <%= tweet.id %></li>
  <li>description = <%= tweet.text.html_safe %></li>
  <li>url = <%= tweet.url %></li>
  <li>upload_date = <%= tweet.created_at %></li>
  <% if tweet.media? %>
    <li><%= image_tag "#{tweet.media[0].media_url}:small" %></li>
  <% end %>
</ul>

<% end %>
