This file hold methods for testing only and won't work


<% @videos.each do |video|  %>

<ul>
  <li>id = <%= video["id"] %></li>
  <li>title = <%= video["title"] %></li>
  <li>description = <%= video["description"].html_safe %></li>
  <li>url = <%= video["url"] %></li>
  <li>upload_date = <%= video["upload_date"] %></li>
  <li><img src = <%= "#{video["thumbnail_medium"]}" %> ></li>
  <% code = /https:\/\/vimeo\.com\/(\d+)/.match( video["url"] )[1] %>
  <iframe id="player1" src="//player.vimeo.com/video/<%= code %>?api=1&player_id=player1" width="630" height="354" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

</ul>

<% end %>

<ul>

  <% if post.feed.provider == "" %>
  <li><%= @user.name %></li>
  <li>id = <%= post.id %></li>
  <li>title = <%= post.text_content.html_safe %></li>
  <li>upload_date = <%= post.date %></li>

  <% if post.feed.provider == "Vimeo" %>
  <li>
  <% code = /https:\/\/vimeo\.com\/(\d+)/.match( post.media_url )[1] %>
  <iframe id="player1" src="//player.vimeo.com/video/<%= code %>?api=1&player_id=player1" width="178" height="100" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</li>
  <% elsif post.feed.provider == "Twitter" %>
    <li><img src = <%= post.media_url %> width = "178" height = "100" ></li>
  <% end %>

  <li>source = <%= post.feed.provider %> </li>
</ul>


def feed
  @user = User.find(session[:user_id])
  ################ for test purposes ###########
  test_feed = Feed.create(handle: "billfulton",
                          provider: "Vimeo",
                          provider_uid: 34517011)
  UserFeed.create(feed_id: test_feed.id,
                              user_id: @user.id)
  @videos = Vimeo::Simple::User.all_videos("billfulton")[0,5]
  @videos.each do |video|
    Post.create(date: video["upload_date"],
                text_content: video["title"],
                media_url: video["url"],
                feed_id: test_feed.id)
  end
  ################  ###########
  @posts = @user.posts[0,5]
end
