
<% if @results.empty? %>
  <p>Sorry, no users found! Try again: </p>

  <div class = "search-box">
    <%= render "shared/twitter_search" %>
  </div>

  <div class="suggestions">
    <p>Looking for a suggestion?</p>
    <%= image_tag @bookis.profile_image_uri(size = :bigger) %>
    <%= link_to @bookis.screen_name, "#{@bookis.url}" %>
  </div>

<% else %>

  <h3>Top 10 Results for <%= @provider %></h3>

  <% @results.each do |result| %>
    <div class="result">
      <%= image_tag result.profile_image_uri(size = :bigger) %>
      <p><%= link_to result.screen_name, "#{result.url}" %></p>
      <p><%= result.description %></p>
      <p><%= result.location %></p>
      <p><%= result.followers_count %> followers</p>
    </div>
  <% end %>
<% end %>
