<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<h1>Welcome <%= @user.name %></h1>

<p>
  You are logged on to Lavender Blush through your
  <%= @credentials.provider.capitalize %> account.
</p>

<p>
  Your email is <%= @user.email %> and your uid us <%= @credentials.uid %>.
</p>
