<!DOCTYPE html>
<html>
<head>
  <title>LavenderBlush</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="container">
        <header>
          <%= link_to "<h1>LavenderBlush</h1>".html_safe, root_path %>
          <div class = "nav-search">
            <%= render "shared/twitter_search" %>
            <% if session[:user_id] != nil %>
              <%= button_to "Logout", :logout, class: "btn btn-default" %>
            <% else %>
              <%= button_to "Sign In with Developer Account", "auth/developer", class: "btn btn-default" %>
              <%= button_to "Sign Up with Developer Account", "auth/developer", class: "btn btn-default" %>
            <% end %>
          </div>
        </header>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>
</body>
</html>
