<!DOCTYPE html>
<html>
<head>
  <title>LavenderBlush</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "LavenderBlush", root_path, class: "navbar-brand" %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <% if session[:user_id] != nil %>
              <%= button_to "Logout", :logout, class: "btn btn-default" %>
            <% else %>
              <%= button_to "Sign In with Developer Account", "auth/developer", class: "btn btn-default" %>
              <%= button_to "Sign Up with Developer Account", "auth/developer", class: "btn btn-default" %>
            <% end %>
          </li>
          <li>
            <%= render "shared/twitter_search" %>
          </li>
          <li>
            <%= link_to "Lorem", "#" %>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
      <!-- /.container -->
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <%= yield %>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  
</body>
</html>
