<tr class = "feed-wrapper">
  <td><%= image_tag feed.avatar, class: "img-circle avatar" %></td>
  <td><%= feed.handle %></td>

  <td>

    <%= form_tag user_feeds_path, method: :post, class: "form" do %>
      <div class = "unsubscribe-button">
        <%= hidden_field_tag "delete_button[provider]", feed.provider %>
        <%= hidden_field_tag "delete_button[provider_uid]", feed.provider_uid %>
        <%= submit_tag "Unsubscribe", class: "unsubscribe btn btn-danger" %>
      </div>
    <% end %>

  </td>
</tr>
