<h2>Account Page</h2>

<!-- <h3>Your Information</h3> -->

<div class = "row">
  <div class = "col-sm-6">
    <h3>Profile Info</h3>
    <table class="hide table edit-user">
      <%= form_tag user_path(@user.id), method: :post, class: "edit-form" do |f| %>
        <%= submit_tag "Save", class: "hide save btn btn-primary" %>
        <tr>
          <td class = "form-label"><%= label_tag :name %></td>
          <td><%= text_field_tag "user[name]" , @user.name, class: "name form-control" %></td>
        </tr>
        <tr>
          <td class = "form-label"><%= label_tag :email %></td>
          <td><%= text_field_tag "user[email]", @user.email, class: "email form-control" %></td>
        </tr>
      <% end %>
    </table>

    <table class = "table account-info" >
        <%= button_to "Edit", nil, class: "edit btn btn-info" %>
        <tr>
          <th>Name</th>
          <td class = "display-name"><%= @user.name %></td>
        </tr>
        <tr>
          <th>Email</th>
          <td class = "display-email"><%= @user.email %></td>
        </tr>
    </table>
  </div>


  <div class = "col-sm-6">
    <h3>Connected Accounts</h3>
    <% @providers.each do |provider| %>

      <% if provider.provider == "vimeo" %>
        <%= image_tag "vimeo-64.png", class: "active-credential vimeo img-circle" %>
      <% elsif provider.provider == "github" %>
        <%= image_tag "github-64.png", class: "active-credential github img-circle" %>
      <% elsif provider.provider == "instagram" %>
        <%= image_tag "instagram-64.png", class: "active-credential instagram img-circle" %>
      <% elsif provider.provider == "twitter" %>
        <%= image_tag "twitter-64.png", class: "active-credential twitter img-circle" %>
      <% end %>
    <% end %>



    <h3>Connect Other Accounts</h3>
    <% @other_providers.each do |provider| %>
      <% if provider == "vimeo" %>
        <%= link_to image_tag("vimeo-64.png", class: "img-circle vimeo inactive"), "/auth/vimeo", method: :post %>
      <% elsif provider == "github" %>
        <%= link_to image_tag("github-64.png", class: "img-circle github inactive"), "/auth/github", method: :post %>
      <% elsif provider == "instagram" %>
        <%= link_to image_tag("instagram-64.png", class: "img-circle instagram inactive"), "/auth/instagram", method: :post %>
      <% elsif provider == "twitter" %>
        <%= link_to image_tag("twitter.png", class: "img-circle twitter inactive"), "/auth/twitter", method: :post %>
      <% end %>
    <% end %>

  </div>

</div>


<div class = "row">

  <div class ="col-sm-6">
    <table class = "table table-striped twitter-feeds" >
      <tr>
        <th colspan=3><h4>Twitter Feeds:</h4><th>
      </tr>
      <% @twitter_feeds.each do |feed| %>
        <%= render "feed_list", feed: feed %>
      <% end %>
    </table>
  </div>

  <div class = "col-sm-6">
    <table class = "table table-striped vimeo-feeds" >
      <tr>
        <th colspan=3><h4>Vimeo Feeds:</h4></th>
      </tr>
      <% @vimeo_feeds.each do |feed| %>
        <%= render "feed_list", feed: feed %>
      <% end %>
    </table>
  </div>
</div>
