
<div class = "container">
  <div id="welcome">
    <div class = "top row">
      <div id="cat">
        <div class="col-lg-12 text-center">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: name %>
          <% end -%>
        </div>
        <%= image_tag "lavender_blush_copy2.png", width: "240px", height: "180px" %>
    </div>

      <div id = "main-title">
        <h1>Welcome to Lavender Blush</h1>
        <h3>...the softer side of social media...don't read anything you don't want to read...</h3>
      </div>
    </div> <!--row-->
    <div class = "bottom row">
      <h3>Sign in with:</h3>
      <ul>
        <li><%= link_to image_tag("vimeo-64.png", class: "vimeo img-circle"), "auth/vimeo" %></li>
        <li><%= link_to image_tag("github-64.png", class: "github img-circle"), "auth/github" %></li>
        <li><%= link_to image_tag("twitter-64.png", class: "twitter img-circle"), "auth/twitter" %></li>
        <li><%= link_to image_tag("instagram-64.png", class: "instagram img-circle"), "auth/instagram" %></li>
      </ul>
    </div> <!--row-->
  </div> <!--container-->
