
<% if @results.empty? %>
  <p>Sorry, no users found! Try again: </p>

  <div class = "search-box">
    <%= render "shared/twitter_search" %>
    <%= render "shared/vimeo_search" %>
  </div>

  <div class="suggestions">
    <p>Looking for a suggestion?</p>
    <%= image_tag @bookis.profile_image_uri(size = :bigger) %>
    <%= link_to @bookis.screen_name, "#{@bookis.url}" %>
  </div>

<% else %>

  <h3>Top 10 Results From <%= @provider %></h3>

  <% if @provider == "Twitter" %>

      <table class="table table-hover text-left">
        <tr>
          <th></th>
          <th>Username</th>
          <th>User Description</th>
          <th>User Location</th>
          <th>Followers</th>
          <th>Add Feed</th>
        </tr>
        <% @results.each do |result| %>
          <tr>
            <td><%= image_tag result.profile_image_uri(size = :bigger), class: "img-circle" %></td>
            <td><%= link_to result.screen_name, "#{result.url}" %></td>
            <td><%= result.description %></td>
            <td><%= result.location %></td>
            <td><%= result.followers_count %> followers</td>
            <td></td>
          </tr>
        <% end %>
      </table>

  <% elsif @provider == "Vimeo" %>

    <table class="table table-hover text-left">
      <tr>
        <th></th>
        <th>Username</th>
        <th>User Location</th>
      </tr>
        <tr>
          <td><%= image_tag @results["portrait_medium"], class: "img-circle" %></td>
          <td><%= link_to @results["display_name"], "#{@results["url"]}" %></td>
          <td><%= @results["location"]%></td>
        </tr>
    </table>

  <% end %>

  <% end %>
