
<% if @results.empty? %>
  <p>Sorry, no users found! Try again... </p>

<% else %>

  <% if @provider == "Twitter" %>
    <h3>Top 10 Results From <%= @provider %></h3>

    <table class="table table-hover text-left">
      <tr>
        <th></th>
        <th>Username</th>
        <th>User Description</th>
        <th>User Location</th>
        <th>Followers</th>
        <th>Add Feed</th>
      </tr>
      <% @results.each do |result| %>
        <tr class = "feed-wrapper">
          <td><%= image_tag result.profile_image_uri(size = :bigger), class: "img-circle" %></td>
          <td><%= link_to result.screen_name, "#{result.url}" %></td>
          <td><%= result.description %></td>
          <td><%= result.location %></td>
          <td><%= result.followers_count %> followers</td>
          <td>
            <% if @user.has_feed?(result.id.to_s) %>
              <%= form_tag user_feeds_path, method: :delete do %>
                <div class = "unsubscribe-button">
                  <%= hidden_field_tag "delete_button[provider]", "Twitter" %>
                  <%= hidden_field_tag "delete_button[provider_uid]", result.id  %>
                  <p><%= submit_tag "Unsubscribe", class: "btn btn-danger" %></p>
                </div>
                <% end %>
            <% else %>
              <%= form_tag feeds_path do %>
                <div class = "subscribe-button">
                  <%= hidden_field_tag "add_form[profile_url]", result.uri %>
                  <%= hidden_field_tag "add_form[handle]", result.screen_name %>
                  <%= hidden_field_tag "add_form[avatar]", result.profile_image_uri(size = :bigger) %>
                  <%= hidden_field_tag "add_form[provider]", @provider %>
                  <%= hidden_field_tag "add_form[provider_uid]", result.id %>
                  <%= submit_tag "Add Feed", class: "add btn btn-info" %>
                </div>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

  <% elsif @provider == "Vimeo" %>
    <h3>Top Result From <%= @provider %></h3>

    <table class="table table-hover text-left">
      <tr>
        <th></th>
        <th>Username</th>
        <th>User Location</th>
        <th>Add Feed</th>
      </tr>
      <% @results.each do |result| %>
        <tr>
          <td><%= image_tag result["portrait_medium"], class: "img-circle" %></td>
          <td><%= link_to result["display_name"], "#{result['profile_url']}" %></td>
          <td><%= result["location"]%></td>
          <td>
            <% if @user.has_feed?(result["id"]) %>
              <%= form_tag user_feeds_path, method: :delete do %>
                <%= hidden_field_tag "delete_button[provider]", "Vimeo" %>
                <%= hidden_field_tag "delete_button[provider_uid]", result["id"].to_i  %>
                <p><%= submit_tag "Unsubscribe", class: "btn btn-danger" %></p>
                <% end %>
            <% else %>
              <%= form_tag feeds_path do %>

                <%= hidden_field_tag "add_form[handle]", result["display_name"] %>
                <%= hidden_field_tag "add_form[profile_url]", result["profile_url"] %>
                <%= hidden_field_tag "add_form[avatar]", result["portrait_medium"] %>

                <%= hidden_field_tag "add_form[provider]", @provider %>
                <%= hidden_field_tag "add_form[provider_uid]", result["id"] %>
                <%= submit_tag "Add Feed", class: "btn btn-info" %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
    </table>

  <% end %>

<% end %>
